@font-face {
  font-family: MyFont;
  src: url("../fonts/JetBrains_Mono_Regular_Nerd_Font_Complete.ttf");
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */

  body {
    background-color: #37474F;
    background: #37474F;
    color: #DEE4E7;
  }
  #checkout {
    background: #37474F;
  }

  folder:hover {
    color: white;
  }

}

@media (prefers-color-scheme: light) {
  /* Dark theme styles go here */

  body {
    background-color: #DEE4E7;
    background: #DEE4E7;
    color: #DEE4E7;
  }

  #checkout {
    background: #DEE4E7;
  }

  folder:hover {
    color: #37474F;
  }

}

body {
  font-family: MyFont;
  font-size: large;
}

.open::before {
  content: "\0fb0b";
}

.open {
  position: fixed;
  background-color: #37474F;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: auto;
}


folder:not(.open),event {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #759FBC;
  border-style: none;
  border: 2px solid;
  border-radius: 5px;
}

.closed::before {
  content: "\0f07b\A";
  white-space: pre;
}

.closed * {
  display: none;
}

event {
  width: auto;
  height: auto;
  background-color: #759FBC;
  border-style: none;
  border: 2px solid;
  border-radius: 5px;
}

event:hover,folder:not(.open):hover {
  background-color: #5287be;
}

cost::before {
  color: #6441A5;
  content: "\A\0fc09";
  white-space: pre;
}

#editEvent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch {
  position:relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/*  Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*  The slider  */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*  Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.disabled {
  display: none;
}

#checkout {
  display:flex;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  z-index:100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*#checkout * {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}*/

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

#menu {
  position: fixed;
  background-color: #37474F;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
